body {
    font: 20px sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {
    font-size: 16px;
}
.margin {margin-bottom: 45px;}
.navbar {
    padding: 15px 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bg-1 {
    background-color: green;
    color: #ffffff;
}

.bg-2 {
    background-color: darkblue;
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    color: #555555;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}